* {
   margin: 0;
   padding: 0; 
   box-sizing: border-box;
  
}
html{
    font-size: 16px;
}

body {
    max-width: 43.75em;
    margin: 0 auto;
    display: block;
    text-align: center;
    background: url(https://images.rawpixel.com/image_800/cHJpdmF0ZS9sci9pbWFnZXMvd2Vic2l0ZS8yMDIyLTA1L3B4NjUwODQ3LWltYWdlLWpvYjYzMC1hXzIuanBn.jpg);
}
 

#subtitle {
    text-align: center;
    margin-top: 2.8125em;
    margin-bottom: 1.25em;
}
  
img {
    display: block;
    margin: auto;
    border-radius: 7%;
    transition: all  0.4s ease-in-out;
    
}
 
h1 {
    text-align: center;
}
.img-caption {
    text-align: center;
    margin-top: 1.25em;
}

img:hover {
    transform: scale(1.05);
    z-index: 2;
    box-shadow: 0.4375em 0.3125em 1.25em rgba(0, 0, 0, 0.726);
}

h2 {
    margin-top: 3.125em;
    margin-bottom: 1.25em;
    text-align: center;
}

section {
    text-align: left;
    display: block;
}
p {
    margin-top: 1;
    margin-bottom: 2.25em;
}

.quote {
    margin: 1.5em 0;
    padding-top: 0.8em;
  }
  
  blockquote {
    background-image: url(https://i.pinimg.com/originals/10/f9/44/10f944389ace361ae00a3fc6b7b16e9e.jpg);
    margin: 2em 1.4em;
    border-radius: 1.5625em;
    width: 41.125rem;
    height: 5em;
    font-size: 2em;
    transition: all 0.4s ease-in-out;
  }
  
  blockquote:hover {
    transform: scale(1.05);
    z-index: 2;
    box-shadow: 0.375em 0.3125em 0.4375em rgba(0, 0, 0, 0.61);
  }
  